$grayColor: gray;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #fff;
    
}
.navbar-brand {
    color: black !important;
    font-weight: bold;
    font-size: 40px;
}

.navbar a {
    color: #000;
}
.navbar-toggler {
    background-color: green;
}
.navbar-toggler i {
    color: #fff;
    font-size: 25px;
}

.nav-item {
    text-align: right;
    font-weight: bold;
    font-size: 40px;
    
}
.nav-item:hover {
    text-decoration: underline;
}

.img-header {
    height: 200px;
    width: 180px;
}

.call {
    color: white;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid gray;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

.galeria {
    height: 600px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 20px;
    padding: 20px;
}

.item {
    height: 700px;
    border: 5px solid #000;
    background-size: cover;
    background-position: center;
    transition: all 0.9s;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.05);
}

.item1 {
    background-image: url(imagenes/social1.jpg);
}

.item2 {
    background-image: url(imagenes/bride-gbc91f70c6_1280.jpg);
}

.item3 {
    background-image: url(imagenes/social2.jpg);
}

.item4 {
    background-image: url(imagenes/girl-g63e34107f_1280.jpg);
}

.item5 {
    background-image: url(imagenes/social4.jpg);
}

.item6 {
    background-image: url(imagenes/social5.jpg);
}

.item7 {
    background-image: url(imagenes/social7.jpg);
}

.item8 {
    background-image: url(imagenes/wedding-dresses-g6693035dc_1280.jpg);
}

.item9 {
    background-image: url(imagenes/social6.jpg);
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    p {
        margin-bottom: 15px;
        color: black;
    }
    i {
        font-size: 30px;
        letter-spacing: 10px;
        color: black;
    }
    i:hover {
        color: $grayColor;
    }
}

.nosotros {
    height: auto;
    width: 100%;
    background-color: white;
}

.nleft {
    height: 470px;
    background-image: url(imagenes/principal.jpg);
    background-size: 600px;
    background-position: center;
}

.nright {
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

iframe{
    width: 40%;
    height: 315px;
}
iframe:hover{
        border: 5px solid white;
    }

@media only screen and (min-width: 306px) {
    footer {
        padding: 1px;
    }
    .galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 700px);
    }
}

@media only screen and (max-width: 354px) {
    iframe{
        width: 150px;
    }
    
}

@media only screen and (min-width: 480px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 700px);
    }
}

@media only screen and (max-width: 403px) {
    iframe{
        width: 210px;
    }
    h1{
        font-size: medium;
    }
}

@media only screen and (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 700px);
    }
    .call {
        height: auto;
        width: auto;
    }
    .nosotros {
        display: flex;
    }
    .nright,
    .nleft {
        width: 50%;
    }
}